@media (max-width:800px){
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        flex-direction: column;
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgb(62, 62, 62);
    }

    h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1.7em;
        color: #212529;
        margin: 5% 10%;
    } 

    span{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 24px;
        color: #FF2253;
    }
    .search__bar{
        /* margin-right: 10%; */
        width: 72%;
        margin-left: 4%;
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
    }
    .img__search {
        width: 20px;
        height: 20px;
        position: relative;
        left: 30px;
        margin-top: 10px;
    }
    .search__bar input[type="text"] {
        border: none;
        height: 40px;
        width: 100%;
        background-color: #E9ECEF;
        border-radius: 12px;
        text-indent: 40px;
        transition: 500ms;
    }
    .search__bar input[type="text"]:hover {
        background-color: #F8F9FA;
    }
    .button__login {
        border: none;
        background-color: #FF2253;
        border-radius: 10px;
        padding: 5px;
        color: white;

        height: 40px;
        margin: 10px 6px;
        margin-right: 10%;
    }
}

@media (min-width:800px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        background-color: white;
        width: 100%;
        box-shadow: 0px 0px 10px 0px rgb(62, 62, 62);
    }
    h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1.7em;
        color: #212529;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1.5%;

    } 
    span{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 24px;
        color: #FF2253;
    }
    .search__bar{
        /* margin-right: 10%; */
        width: 30%;
        margin-left: 4%;
        height: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    
        display: flex;
        justify-content: space-between;
    }
    .img__search {
        width: 20px;
        height: 20px;
        position: relative;
        left: 30px;
        margin-top: 10px;
    }
    .search__bar input[type="text"] {
        border: none;
        height: 40px;
        width: 100%;
        background-color: #E9ECEF;
        border-radius: 12px;
        text-indent: 40px;
        transition: 500ms;
    }
    .search__bar input[type="text"]:hover {
        background-color: #F8F9FA;
    }
    .button__login {
        border: none;
        background-color: #FF2253;
        border-radius: 10px;
        padding: 5px;
        color: white;

        height: 40px;
        margin: 10px 6px;
        margin-right: 10%;
    }    

    .button__login:hover{
        cursor: pointer;
        background-color: #e97790 ;
        color: blue;
    }
}